<section class="jumbotron vcodes">
    <br><br>
    <div class="container px-3 mb-5 mt-1">
      <div class="mb-3 mx-auto">
       <span class="icon-section" style="margin-top: -5%;float: right;">
        </span>
        <h1 class="has-text-white title" style="font-weight: 800;">Tokyo Code</h1>
        <p class="content has-text-white" style="opacity: 0.6; margin-top: -20px;" id="typeText"></p>
          <form action="/search">
              <input style="background-color: #2c2f33;" id="searchbar"  name="q" onkeyup="search_bot()" type="text"
              name="search" autocomplete="off" onfocus="if (!window.__cfRLUnblockHandlers) return false; $('.searchArea').show()" id="search" style="font-family: Arial, FontAwesome; z-index: 999999999; width: 470px;" class="z mainInput searchIcon isMobile" type="text" placeholder="Botlarda ara..." data-cf-modified-510f8a7e40ac29a46d013099-="">
              <input type="hidden" name="page" value="1">
            </form>
        <div class="home-tags">
          <a translate="no" style="margin: 5px;" title="Tokyo Code" href="/tag/Moderasyon" class="btn btn-tag"><i class="fa fa-magic"></i>&nbsp;Moderasyon</a>
          <a translate="no" style="margin: 5px;" title="Tokyo Code" href="/tag/Eğlence" class="btn btn-tag"><i class="fa fa-smile"></i>&nbsp;Eğlence</a>
          <a translate="no" style="margin: 5px;" title="Tokyo Code" href="/tag/NSFW%20(+18)" class="btn btn-tag"><i class="fa fa-lips"></i>&nbsp;NSFW (+18)</a>
          <a translate="no" style="margin: 5px;" title="Tokyo Code" href="/tag/Faydalı" class="btn btn-tag"><i class="fa fa-cogs"></i>&nbsp;Faydalı</a>
          <a style="margin: 5px;" title="Tokyo Code" href="/tags" class="btn btn-tag"><i class="fa fa-tags"></i>&nbsp;Tüm Etiketler</a>
        </div>
      </div>
    </div>
</div>
</section>